/* selector {
  property: value;
} */

/* I honestly would skip over this entire CSS lessson because I use the BEM
methodology. Which I am fond of and love to use. But if you are new and reading this
there is not much to compare from my code to Andrei's anyways. I suggest just going
through his lessons and understanding the fundementals first. And maybe later
when you come back, you can learn about BEM ;)  */

h2 {
  color: blue;
}

p {
  font-size: 20px;
}

span {
  font-size: 2rem;
}
