/* selector {
  property: value;
} */

/* I honestly would skip over this entire CSS lessson because I use the BEM
methodology. Which I am fond of and love to use. But if you are new and reading this
there is not much to compare from my code to Andrei's anyways. I suggest just going
through his lessons and understanding the fundementals first. And maybe later
when you come back, you can learn about BEM ;)  */

* {
  text-align: r;
}

body {
  background-image: url('hero-large.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h2 p {
  color: red;
  text-align: center;
  border: 5px dotted purple; /* Andrei talks about rgb and rgba colors here. I already am very familiar with it, so I won't be using it */
  cursor: pointer;
}

p {
   color: green; /* because you are selecting p twice, the second one shows because it is 'cascading' */
   text-decoration: line-through;
   text-transform: uppercase;
   line-height: 2rem;
   font-style: oblique;
   font-weight: 800;
   font-family: 'Libre Barcode 39', cursive;
}

li {
  list-style: none;
  display: inline-block; /* if you are reading this, read up on the difference between block, inline, and inline-block, I hihgly reccomend it */
}

.webtext:last-child {
  border: 5px dashed green;
}

.active {
  color: red;
}

#div1 {
  background: rgba(0, 0, 255, 0.5);
}

#div2 {
  background: rgba(255, 0, 255, 0.5);
}

img {
  float: left;
}

footer {
  clear: both;
}
