body {
  background-image: url("https://images.unsplash.com/photo-1480796927426-f609979314bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poiret One";
}

h2 + p {
  color: #aa4139;
  text-align: center;
  border: 5px solid rgba(255, 176, 170, 0.5);
  cursor: pointer;
}

.webtext:last-child {
  border: 5px dashed green;
}

.active {
  color: red;
}

img {
  height: 200px;
  width: 200px;
  float: left;
}

footer {
  clear: both;
  text-align: center;
}

p {
  text-decoration: line-through;
  text-transform: uppercase;
  line-height: 2rem;
  font-style: italic;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

li {
  list-style: none;
  display: inline-block;
}

#div1 {
  background: rgba(0, 0, 255, 0.2);
}

#div2 {
  background: rgba(255, 0, 0, 0.2);
}
